#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.sidebar-menu {
  position: absolute;
  top:12vh;
  left: 0;
}

.content {
  position: absolute;
  top: 12vh;
  left: 10%;
  width: 90%;
  padding: 10px 20px;
  min-height: 88vh;
  /* border: 1px solid #efefef; */
}

